* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cake {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 20px;
    text-align: center;
    padding: 22px 0;
    background: #fff;
}

.image-container {
    height: 22rem;
    width: 18rem;
    margin: 0 auto;
}

.cake-title {
    font-weight: 700;
    padding: 5px 0;
    color: var(--dark-liver);
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}

.cake-img {
    max-height: 100%;
    border: 5px solid var(--queen-pink);
    border-radius: 7px;

}

.cake-description {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;

}