@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    --queen-pink: #dcbac5ff;
    --cinnamon-satin: #bb6f7bff;
    --lilac-luster: #bfa5b0ff;
    --ghost-white: #efeaeeff;
    --dark-liver: #4e4a4fff;
    --dark-slate: #6c757d;
}

body {
    font-family: "Open Sans", sans-serif, "Playfair Display", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    position: relative;
}

img {
    max-width: 100%;
}

/* Navbar Section */

.top-banner {
    width: 100vw;
    height: 60px;
    background-color: var(--queen-pink);
    color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg {
    width: 35px;
    height: 35px;
    opacity: .5;
    margin-right: 10px;
}


.link {
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.link:hover {
    color: var(--cinnamon-satin);
}


.navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.nav-title {
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 15px;
    color: var(--dark-liver);
    font-weight: 500;
    text-align: center;
}

.nav-list {
    display: flex;
}

.list-item {
    margin-left: 10px;
    padding: 2px 4px;
    font-size: 1.25rem;
    color: var(--lilac-luster);
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.5s linear;
    text-decoration: none;
}

.list-item:hover {
    color: var(--cinnamon-satin);
    text-decoration: underline;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}



/* category title */

.category-title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 400;
    color: var(--dark-liver);
    text-align: center;
}

.intro {
    width: 80%;
    max-width: 800px;
    padding: 30px 20px;
    margin: 0 auto;
    color: var(--dark-liver);
    border-top: 1px solid var(--lilac-luster);
    font-size: 1.15rem;
    margin-bottom: 40px;
    position: relative;
}

/* cakes section */

.cake-section {
    width: 100vw;
    background: var(--ghost-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cake-box {
    width: 80%;
    max-width: 1000px;
    display: flex;
    max-height: 400px;
    background: #fff;
    margin: 40px 0;
    padding: 10px;
}

.img-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.img-div img {
    max-height: 380px;
    padding: 10px 0;

    cursor: pointer;
    ;
}

.text-div {
    width: 50%;
    padding: 10px 0 10px 20px;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cake-title {
    font-size: 1.2rem;
    color: var(--cinnamon-satin);
    font-family: 'Playfair Display', serif;
}

.cake-description {
    color: var(--dark-liver);
    margin-top: 30px;
}

.small-text {
    font-size: .75rem;
    color: var(--lilac-luster);
    text-decoration: none;
    cursor: pointer;
}


/* Footer */

.footer {
    height: 60px;
    width: 100vw;
    background: var(--queen-pink);
    color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    padding-left: 50px;
    font-size: .88rem;
}

.lady-link {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.lady-link:hover {
    color: var(--cinnamon-satin);
}

.more-section {
    width: 100vw;
    height: 200px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.more-container {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--lilac-luster);
}

.more-title {
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.more-img {
    height: 140px;
    padding-left: 20px;
    cursor: pointer;
}

.enquiry-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.fa-paper-plane {
    color: var(--cinnamon-satin);
    padding-top: 20px;
    font-size: 3rem;
}


/* Media Queries */

@media (min-width: 426px) {
    .cake-title {
        font-size: 2rem;
    }

    .cake-description {
        font-size: 1rem;
    }

    .cake-link {
        font-size: 1rem;
    }
}

.lightbox {
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 0;
    height: 100vh;
    width: auto;
    opacity: 1;
    transition: all 0.3s ease;
}

.lightbox.hidden {
    opacity: 0;
    visibility: hidden;
}

.lightbox .close {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    font-size: 2rem;
    cursor: pointer;
}

.lightbox-content {
    display: flex;
    margin: 5%;
    align-items: center;
    justify-content: center;
}

.lightbox-content img {
    max-height: 100vh;
    border: 5px solid #fff;
}